{% load static %}
<!doctype html>
<html>
  <head>
    <title>Home - RLS</title>
     <meta charset="utf-8" />
     <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
  </head>
  <body>
    <div class="heather">
      <img src="{% static 'img/login/cpd-logo.jpg' %}" />
      <div class=searchbox>
      </div>
    </div>
    <div class="optionsbox">
      <!--Novo botão principal-->
      <a href="/home/" style="text-decoration: none; color: #000;">
      	<div class="option">
	  <img src="{% static 'img/home/raspberry.png' %}" />
          <label>Home</label>
	  {% if btn_first == 1  %}
	    <!--Botão selecionado-->
	    <div class="optionselect">
	      <div style="width: 4px; height: 60px; background-color: #BD1143;" />
	    </div>
	  {% endif  %}
        </div>
      </a>
      <!--Novo botão principal-->
      <a href="/connection/" style="text-decoration: none; color: #000;">
        <div class="option">
          <img src="{% static 'img/home/tomada.png' %}" />
          <label>Conexões</label>
          {% if btn_first == 2  %}
	    <!--Botão selecionado-->
            <div class="optionselect">
              <div style="width: 4px; height: 60px; background-color: #BD1143;" />
            </div>
          {% endif  %}
        </div>
      </a>
      <!--Novo botão principal-->
      <a href="/add/" style="text-decoration: none; color: #000;">
        <div class="option">
          <img src="{% static 'img/home/sinal_mais.png' %}" />
          <label>Adicionar</label>
          {% if btn_first == 3  %}
	    <!--Botão selecionado-->
            <div class="optionselect">
              <div style="width: 4px; height: 60px; background-color: #BD1143;" />
            </div>
	    {% endif %}
        </div>
      </a>
      <!--Novo botão principal-->
      <a href="/tcp-dump/" style="text-decoration: none; color: #000;">
        <div class="option">
          <img src="{% static 'img/home/lupa.png' %}" />
          <label>TCPDump</label>
          {% if btn_first == 4  %}
            <!--Botão selecionado-->
            <div class="optionselect">
              <div style="width: 4px; height: 60px; background-color: #BD1143;" />
            </div>
          {% endif  %}
        </div>
      </a>
      <!--Novo botão principal-->
      <a href="/logout/" style="text-decoration: none; color: #000;">
        <div class="option">
          <img src="{% static 'img/home/logout.png' %}" />
          <label>Sair</label>
        </div>
      </a>
    </div>
    <div class="suboptionsbox">
      <div class="suboptiontitle">
        <label>Dispositivos</label>
      </div>
      {% for device in devices %}
        <div class="suboption">
	  <label>{{device.nome}}</label>
        </div>
      {% endfor %}
    </div>
    <div class="infodisplay">
      <!--Complete empty space-->
      <div style="height: 10px; width:1034; background-color: #f5f5f5; position: absolut;"></div>
      <div class="infodisplaytitle">
        <label>Infodisplay Título</label>
      </div>
    </div>
  </body>
</html>
